* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Utilities */
.container {
  margin: auto;

  overflow: auto;
  max-width: 1200px;
}
.custom-px-10 {
  padding: 0px 10px;
}
.custom-px-20 {
  padding: 0px 20px;
}
.custom-px-30 {
  padding: 0px 30px;
}
.custom-px-40 {
  padding: 0px 40px;
}
.clr {
  clear: both;
}
.btn {
  display: inline-block;
  background: #333;
  padding: 10px 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px;
}
.btn:hover {
  background: rgb(31, 30, 30);
  color: #f7c08a;
}
.bg-dark {
  background: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Navabar */
#navbar {
  background: #333;
}
#navbar a {
  color: #fff;
}
#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}
.clafx {
  clear: both;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
.current {
  background: #444;
  color: #f7c08a;
}
/* add a some comment */

#showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  color: #ffff;
  height: 400px;
  padding-top: 100px;
  overflow: auto;
}
#showcase #showcase-content {
  text-align: center;
}
#showcase #showcase-content h1 {
  text-align: center;
  line-height: 1.9em;
  font-size: 50px;
}
#showcase #showcase-content h1 span {
  padding: 5px;
  color: #f7c08a;
}
.lead {
  font-size: 20px;
  padding-bottom: 30px;
}
#home-info {
  height: 400px;
  overflow: hidden;
}
#home-info .home-info-img {
  float: left;
  background: url("../img/photo-1.jpg") no-repeat center center/cover;
  width: 50%;
  height: 100%;
}
#home-info .home-info-content {
  float: right;
  width: 50%;
  text-align: center;
  height: 100%;
  color: #fff;
}
#home-info .home-info-content h1 {
  font-size: 25px;
  padding-top: 30px;
}

#home-info .home-info-content span {
  color: #f7c08a;
}
#home-info .home-info-content p {
  line-height: 1.8em;
  padding: 15px;
}
#feautures {
  text-align: center;
}
#feautures .box {
  float: left;
  padding: 40px 20px;
  width: 33.3%;
}
#feautures i {
  padding: 10px;
}
#main-footer {
  text-align: center;
  padding: 15px 0px;
  background: #444;
}
#main-footer {
  padding: 10px;
}
/* testimonials */
#testimonials {
  padding: 40px 20px 0px 20px;
  text-align: justify;
}
#testimonials #left-tesimonials {
  float: left;
  width: 50%;
}
#testimonials #right-tesimonials {
  float: left;
  width: 50%;
  min-height: 100%;
}
#testimonials #right-tesimonials img {
  display: block;
  width: 70%;
  border-radius: 50%;
  margin: auto;
  min-height: 100%;
}

#real-testimonial {
  background: url("../img/test-bg.jpg") no-repeat center center/cover;
  padding: 40px;
}
.real-testimonial-box {
  padding: 30px;
  height: 150px;
  margin-bottom: 50px;
  opacity: 0.9;
  border-radius: 10px;
}
#real-testimonial h1 {
  padding-bottom: 20px;
}
#real-testimonial .real-testimonial-box img {
  float: left;
  display: block;
  width: 10%;
  border-radius: 50%;
}
#real-testimonial .real-testimonial-box p {
  float: right;
  width: 90%;
  padding-left: 10px;
}
